wf2-history-sync.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const REGIONS = [10000002, 10000043, 10000032, 10000030, 10000042];\nconst rows = [];\nfor (const item of $input.all()) {\n  const typeId = item.json.type_id;\n  for (const regionId of REGIONS) {\n    try {\n      const hist = await this.helpers.httpRequest({\n        method: 'GET',\n        url: `https://esi.evetech.net/latest/markets/${regionId}/history/`,\n        qs: { datasource: 'tranquility', type_id: typeId },\n        json: true\n      });\n      for (const d of hist.slice(-90)) {\n        rows.push({ json: { type_id: typeId, region_id: regionId,\n          date: d.date, average: d.average, volume: d.volume, order_count: d.order_count } });\n      }\n    } catch (e) { /* нет истории — пропускаем */ }\n  }\n}\nreturn rows;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, -256],
      "id": "3eb16b70-f690-4097-b62f-d909c0fe7061",
      "name": "Fetch History"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO daily_history (type_id, region_id, date, average, volume, order_count)\nVALUES ($1, $2, $3, $4, $5, $6)\nON CONFLICT (type_id, region_id, date)\nDO UPDATE SET average = EXCLUDED.average, volume = EXCLUDED.volume, order_count = EXCLUDED.order_count",
        "options": {
          "queryReplacement": "={{ $json.type_id }}, {{ $json.region_id }}, {{ $json.date }}, {{ $json.average }}, {{ $json.volume }}, {{ $json.order_count }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [112, -256],
      "id": "28bc92bc-42fd-49ec-8ce8-a283379bc869",
      "name": "Upsert History",
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "Trade Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT type_id, name FROM watchlist WHERE status = 'active';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-336, -256],
      "id": "7b7410fd-fa61-4cba-a302-0b64b81002c3",
      "name": "Load Watchlist",
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "Trade Postgres" }
      }
    },
    {
      "parameters": {
        "rule": { "interval": [ { "triggerAtHour": 14, "triggerAtMinute": 40 } ] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-544, -256],
      "id": "c8383254-cedf-40f1-809b-1b9c9d448e48",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Fetch History": { "main": [ [ { "node": "Upsert History", "type": "main", "index": 0 } ] ] },
    "Load Watchlist": { "main": [ [ { "node": "Fetch History", "type": "main", "index": 0 } ] ] },
    "Schedule Trigger": { "main": [ [ { "node": "Load Watchlist", "type": "main", "index": 0 } ] ] }
  },
  "pinData": {},
  "meta": {
    "instanceId": "26c35b2a42f853d3aa7e9fc05a0c1f22b924bbd4d5a58ef93bb9b33df817c1c9"
  }
}
