wf3-watchlist-review.json
{
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [ { "triggerAtHour": 22 } ] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-416, -32],
      "id": "41d6ad41-3408-4613-b756-fe2f77263ce2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH stats AS (\n  SELECT type_id,\n    AVG(CASE WHEN date >= CURRENT_DATE - 7  THEN average END) AS avg7,\n    AVG(CASE WHEN date >= CURRENT_DATE - 30 THEN average END) AS avg30,\n    AVG(CASE WHEN date >= CURRENT_DATE - 7  THEN volume  END) AS vol7,\n    STDDEV(CASE WHEN date >= CURRENT_DATE - 30 THEN average END) AS sd30\n  FROM daily_history WHERE region_id = 10000002\n  GROUP BY type_id\n),\nopps AS (\n  SELECT type_id, COUNT(*) AS opp_count, MAX(total_profit) AS best_profit\n  FROM opportunities WHERE ts > NOW() - INTERVAL '30 days'\n  GROUP BY type_id\n)\nSELECT w.type_id, w.name,\n  (w.locked_until IS NOT NULL AND w.locked_until > NOW()) AS locked,\n  ROUND(s.avg7::numeric, 2) AS avg7,\n  ROUND(s.avg30::numeric, 2) AS avg30,\n  ROUND(s.vol7::numeric, 0) AS vol7,\n  ROUND((s.sd30 / NULLIF(s.avg30, 0) * 100)::numeric, 1) AS volat_pct,\n  COALESCE(o.opp_count, 0) AS opps30,\n  ROUND(COALESCE(o.best_profit, 0)::numeric, 0) AS best_profit\nFROM watchlist w\nLEFT JOIN stats s ON s.type_id = w.type_id\nLEFT JOIN opps  o ON o.type_id = w.type_id\nWHERE w.status = 'active';",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-208, -32],
      "id": "983c6da1-1ee2-424f-acfc-0dfe6ef78e6a",
      "name": "Load Aggregates",
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "Trade Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.type_id, c.name FROM candidate_pool c\nWHERE c.type_id NOT IN (SELECT type_id FROM watchlist WHERE status = 'active')\n  AND c.type_id NOT IN (SELECT type_id FROM watchlist\n                        WHERE status = 'retired' AND retired_at > NOW() - INTERVAL '14 days')\nLIMIT 40;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [-48, -32],
      "id": "61c060cb-9684-429b-93d0-1d9a4ec013e0",
      "name": "Load Candidates",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "Trade Postgres" }
      }
    },
    {
      "parameters": {
        "jsCode": "const watch = $('Load Aggregates').all().map(i => i.json);\nconst cands = $('Load Candidates').all().map(i => i.json).filter(c => c.type_id);\nconst wt = watch.map(w =>\n  `${w.type_id} | ${w.name} | locked:${w.locked} | avg7:${w.avg7} | avg30:${w.avg30} | vol7:${w.vol7} | volat%:${w.volat_pct} | opps30:${w.opps30} | bestProfit:${w.best_profit}`\n).join('\\n');\nconst ct = cands.map(c => `${c.type_id} | ${c.name}`).join('\\n') || 'нет доступных кандидатов';\nreturn [{ json: { watchlist_table: wt, candidates_table: ct } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, -32],
      "id": "9e65fa4e-ebff-4318-81c0-691f7613cd73",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Ты управляешь watchlist трейд-бота EVE Online. По статистике реши, какие товары убрать (нет возможностей за 30 дней, низкая волатильность, падающий объём) и какие добавить из списка кандидатов.\nПравила: максимум 3 удаления и 3 добавления за раз; нельзя удалять товары с locked:true; добавлять можно ТОЛЬКО type_id из списка кандидатов; если менять ничего не нужно — верни пустые массивы.\nОтветь строго JSON без пояснений: {\"remove\":[{\"type_id\":123,\"reason\":\"...\"}],\"add\":[{\"type_id\":456,\"reason\":\"...\"}]}\n\nТЕКУЩИЙ WATCHLIST (type_id | name | locked | avg7 | avg30 | vol7 | volat% | opps30 | bestProfit):\n{{ $json.watchlist_table }}\n\nКАНДИДАТЫ (type_id | name):\n{{ $json.candidates_table }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [240, -32],
      "id": "9e8c1b89-54c0-441e-91f9-9c69af020e4f",
      "name": "AI Review"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.text ?? $input.first().json.output ?? '';\nlet decision;\ntry {\n  decision = JSON.parse(raw.replace(/```json|```/g, '').trim());\n} catch (e) {\n  return [{ json: { action: 'none', type_id: 0, name: '', reason: 'не удалось распарсить ответ AI' } }];\n}\n\nconst watch = Object.fromEntries($('Load Aggregates').all().map(i => [i.json.type_id, i.json]));\nconst cands = Object.fromEntries($('Load Candidates').all().filter(i => i.json.type_id).map(i => [i.json.type_id, i.json]));\n\nconst out = [];\nlet removes = 0, adds = 0;\nfor (const r of (decision.remove ?? [])) {\n  const w = watch[r.type_id];\n  if (!w || w.locked || removes >= 3) continue;\n  removes++;\n  out.push({ json: { action: 'remove', type_id: w.type_id, name: w.name,\n                     reason: String(r.reason || '').replace(/,/g, ' ').slice(0, 200) } });\n}\nfor (const a of (decision.add ?? [])) {\n  const c = cands[a.type_id];\n  if (!c || adds >= 3) continue;\n  adds++;\n  out.push({ json: { action: 'add', type_id: c.type_id, name: c.name,\n                     reason: String(a.reason || '').replace(/,/g, ' ').slice(0, 200) } });\n}\n\nif (out.length === 0) return [{ json: { action: 'none', type_id: 0, name: '', reason: '' } }];\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [512, -32],
      "id": "0f5f1f7d-d273-4d4d-af01-e3bcf39e14b0",
      "name": "Validate & Apply Rules"
    },
    {
      "parameters": { "options": {} },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [240, 144],
      "id": "8a7babe2-8f2b-44eb-95f9-cf3c895d3161",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": { "id": "YOUR_DEEPSEEK_CREDENTIAL_ID", "name": "DeepSeek account" }
      }
    },
    {
      "parameters": {
        "jsCode": "const changes = $('Validate & Apply Rules').all().map(i => i.json).filter(c => c.action !== 'none');\nconst message = changes.length === 0\n  ? '📋 Ревью watchlist: изменений нет.'\n  : '📋 Ревью watchlist:\\n' + changes.map(c =>\n      `${c.action === 'add' ? '➕' : '➖'} ${c.name} (${c.type_id}) — ${c.reason}`).join('\\n');\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, -32],
      "id": "a0364936-bb1c-4b84-8d21-c6a8a797e02a",
      "name": "Build Report"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "={{ $json.message }}",
        "additionalFields": { "appendAttribution": false }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [816, -32],
      "id": "deb39bea-f953-41dd-b506-4980b619cc06",
      "name": "Send a text message",
      "webhookId": "351d633c-63ca-42d6-9dcc-120be26a30c1",
      "credentials": {
        "telegramApi": { "id": "YOUR_TELEGRAM_CREDENTIAL_ID", "name": "Telegram account" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO watchlist_changes (action, type_id, item_name, reason)\nSELECT $1, $2, $3, $4\nWHERE $1 <> 'none'\nRETURNING action, type_id, item_name AS name;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.action }}, {{ $json.type_id }}, {{ $json.name }}, {{ $json.reason }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [672, 192],
      "id": "8f09fdac-b792-4095-962a-a2abd0b91f67",
      "name": "Log Changes",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "Trade Postgres" }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 3 },
          "conditions": [
            {
              "id": "ea03b1ba-2083-42ad-b6fc-d3c2b5e3a4d4",
              "leftValue": "={{ $json.action }}",
              "rightValue": "add",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [880, 192],
      "id": "f1c1db14-be6d-471f-b94f-ab88313c7011",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO watchlist (type_id, name, status, source, locked_until)\nVALUES ($1, $2, 'active', 'ai', NOW() + INTERVAL '7 days')\nON CONFLICT (type_id) DO UPDATE\nSET status = 'active', source = 'ai', added_at = NOW(),\n    locked_until = NOW() + INTERVAL '7 days', retired_at = NULL;",
        "options": {
          "queryReplacement": "={{ $json.type_id }}, {{ $json.name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1072, 80],
      "id": "9cf2df24-c631-49f3-ae2d-9b2a04c737a6",
      "name": "Apply Add",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "Trade Postgres" }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE watchlist SET status = 'retired', retired_at = NOW() WHERE type_id = $1;",
        "options": { "queryReplacement": "={{ $json.type_id }}" }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1072, 256],
      "id": "ec1c2482-0961-4c34-947c-a11a05b6ee59",
      "name": "Apply Remove",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": { "id": "YOUR_POSTGRES_CREDENTIAL_ID", "name": "Trade Postgres" }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [ [ { "node": "Load Aggregates", "type": "main", "index": 0 } ] ] },
    "Load Aggregates": { "main": [ [ { "node": "Load Candidates", "type": "main", "index": 0 } ] ] },
    "Load Candidates": { "main": [ [ { "node": "Build Prompt", "type": "main", "index": 0 } ] ] },
    "Build Prompt": { "main": [ [ { "node": "AI Review", "type": "main", "index": 0 } ] ] },
    "AI Review": { "main": [ [ { "node": "Validate & Apply Rules", "type": "main", "index": 0 } ] ] },
    "Validate & Apply Rules": { "main": [ [ { "node": "Build Report", "type": "main", "index": 0 }, { "node": "Log Changes", "type": "main", "index": 0 } ] ] },
    "DeepSeek Chat Model": { "ai_languageModel": [ [ { "node": "AI Review", "type": "ai_languageModel", "index": 0 } ] ] },
    "Build Report": { "main": [ [ { "node": "Send a text message", "type": "main", "index": 0 } ] ] },
    "Log Changes": { "main": [ [ { "node": "If", "type": "main", "index": 0 } ] ] },
    "If": { "main": [ [ { "node": "Apply Add", "type": "main", "index": 0 } ], [ { "node": "Apply Remove", "type": "main", "index": 0 } ] ] }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "26c35b2a42f853d3aa7e9fc05a0c1f22b924bbd4d5a58ef93bb9b33df817c1c9"
  }
}
